@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

html {
    background-color: rgb(238 236 238);
}

.small {
    font-size: 10px;
}

.active{
    background-color: rgb(35 80 156);
    color: rgb(161 184 220);
}

* {
    font-family: 'Barlow';    
    text-decoration: none;
}

.preview {
    width: 480px;
    height: 480px;
    background: gray;
}

.preview > img {
    position: absolute;
    height: 480px;
    width: 480px; 
}

.accessorize-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 20px 0px;
}

.accessorize-container > a {
    border: 2px solid rgb(161 184 220);
    border-radius: 48px;
    padding: 15px 25px 15px 25px;
    color: rgb(161 184 220);
    margin: 10px 10px 0px 0px;;
    cursor: pointer;
}

.accessorize-container > a:focus {
    border: 1px solid rgb(161 184 220);
    border-radius: 48px;
    padding: 15px 25px 15px 25px;
    color: rgb(161 184 220);
    /* margin: 0; */
    cursor: pointer;
    outline: 0;
}

a:focus {
    background: rgb(238 236 238);
    cursor: pointer;
}

.button {
    border: 1px solid rgb(161 184 220);
    border-radius: 48px;
    padding: 5px 20px 5px 20px;
    margin: 20px 0px 0px 0px;
    color: rgb(161 184 220);
    font-weight: 700;
}

.button:focus {
    background-color: rgb(35 80 156);
    color: rgb(238 236 238);
    cursor: pointer;
}

h2{
    padding: none;
    margin: 0px 0px 0px 0px;
}

h1 { 
    margin: 0px 0px 0px 100px;
    font-size: 4em;
}

.feature{
    width: 200px;
    padding: 10px 5px 10px 5px;
    font-weight: 700;
    border: none;
    background: white;
    margin-top: 20px;
    cursor: pointer;
}

.main-container {
    display: flex;
    /* flex-direction: column; */
    padding: 20px 10px 0px 100px;
}
.buttons {
    /* padding: 0px 100px 100px 100px; */
    padding: 0px 0px 0px 40px;
    margin: 0px;
}

.button {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
h1 {
    font-size: 50px;
    margin-left: 0px;
    text-align: center;
}

.preview {
    width: 300px;
    height: 300px;
    background: gray;
}

.preview > img {
    position: absolute;
    height: 300px;
    width: 300px; 
}

.feature{
    width: 140px;
    padding: 10px 5px 10px 5px;
    font-weight: 700;
    border: none;
    background: white;
    margin-top: 20px;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.buttons {
    /* padding: 0px 100px 100px 100px; */
    padding: 0px 0px 0px 40px;
    margin: 20px 0px 0px 0px;
}

.accessorize-container > a {
    border: 2px solid rgb(161 184 220);
    border-radius: 48px;
    padding: 5px 15px 5px 15px;
    color: rgb(161 184 220);
    margin: 10px 10px 0px 0px;;
    cursor: pointer;
}

.accessorize-container > a:focus {
    border: 1px solid rgb(161 184 220);
    border-radius: 48px;
    padding: 5px 15px 5px 15px;
    color: rgb(161 184 220);
    /* margin: 0; */
    cursor: pointer;
    outline: 0;
}
}


