
<div class="preview">
    <img id="preview-img" src="">
    <img [src]="defaultAlpaca.background" alt="">
    <img [src]="defaultAlpaca.neck" alt="">
    <img [src]="defaultAlpaca.nose" alt="">
    <img [src]="defaultAlpaca.mouth" alt="">
    <img [src]="defaultAlpaca.ears" alt="">
    <img [src]="defaultAlpaca.hair" alt="">
    <img [src]="defaultAlpaca.eyes" alt="">
    <img [src]="defaultAlpaca.leg" alt="">
    <img [src]="defaultAlpaca.accessories" alt="">
</div>
<app-features (randomAlpaca)="generateRandom()"></app-features>